<body>
  <div class="header">
   
<h1>To-Do-List</h1></div>
<div class="box">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Add Any Task</mat-label>
      <input matInput placeholder="Enter Task" #task>
    </mat-form-field>
    <section>
      
      <div class="example-button-row">
        <button mat-raised-button (click)="addtask(task.value)">Add Task</button>
       
      </div>
    </section>
    </form>
  <div class="col">
    <mat-selection-list #item>
      <mat-list-option *ngFor="let item of list">
        <section>
        {{item.name}}
      <br>
          <div class="example-button-row">
            <button mat-raised-button (click)="removetask(item.id)">Remove Task</button>
           
          </div>
        </section>
      </mat-list-option>
      <br>
    </mat-selection-list>
  </div>
 
</div>
<footer>
  <p>
    Options selected: {{item.selectedOptions.selected.length}}
  </p>

 </footer>
</body>